@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap')

*
    padding: 0
    margin: 0
    font-family: 'Plus Jakarta Sans', sans-serif


header
    height: 20vh
    background-color: deepskyblue
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 5%

    h1
        color: ivory
        font-size: 2.5rem
    
#login
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding: 0 20%
    height: 80vh

#loginForm
    margin: 5%
    padding: 5%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    border: solid 5px deepskyblue
    border-radius: 15px
    width: 100%

    input
        width: 20%
    


#pendingInvitationsMenu
    position: fixed
    right: 0
    bottom: 0
    width: 20vw
    height: 80vh
    background-color: darkcyan
    opacity: 0.8
    color: ivory

#sendMessage
    display: flex
    position: fixed
    bottom: 0
    left: 0
    width: 80vw
    height: 10vh

    textarea
        flex: 4
    
    input
        flex: 1

#listMessages
    height: 70vh
    width: 80vw
    overflow-y: scroll
    overflow-x: hidden

    div
        display: flex
        padding: 5%
        flex-direction: column
        border-radius: 15%
        color: ivory

        &.you
            background-color: red
            align-self: flex-start
        
        &.other
            background-color: deepskyblue
            align-self: flex-end

#conversationList
    width: 80vw
    display: flex
    flex-direction: column
    .conversation
        background: red
        color: ivory
        padding: 2% 5%
        margin: 2%
        flex: 1
        cursor: pointer

    input
        padding: 2% 5%
        margin: 2%
        flex:1
        text-align: center
        cursor: pointer
